@page "/BUSCAR"

<PageTitle>BUSCAR</PageTitle>

<h1>BUSQUEDA avanzadA</h1>
<div class=e205_334>
  <div class="e205_335"></div><span  class="e205_340">buscar</span><span  class="e205_342">LOCALIDAD</span><span  class="e205_346">SOY TATUADOR</span><span  class="e205_348">ESTILO</span><span  class="e205_349">TIENGO UN ESTUDIO</span><span  class="e205_524">FOTO PORTADA</span><span  class="e205_350">NOMBRE ESTUDIO</span><span  class="e205_351">DIRECCION</span><span  class="e205_352">HORARIOS</span><span  class="e205_362">INFORMACION</span><span  class="e205_363">IARTISTAS AUTORIZADOS</span><span  class="e205_361">TELEFONO</span><span  class="e205_355">NIVEL

</div>