@page "/Estudios"

<PageTitle>Estudios</PageTitle>
@*
<h1>Estudio de tatuajes</h1>*@
<div class=e205_213><span  class="e205_214">TINTA  ESPACIAL</span><span  class="e205_215">NFT</span>
  <div class="e205_216"></div>
  <div class="e205_217"></div><span  class="e205_218">AUTOR: </span><span  class="e205_219">NOMBRE: </span><span  class="e205_220">DISEÑO NFT   SI                NO</span><span  class="e205_221">PRECIO : </span><span  class="e205_222">MEDIOS DE PAGO</span><span  class="e205_223">TOKEN ID:       </span><span  class="e205_224">DETALLE: </span>
  <div class="e205_225"></div><span  class="e205_226">CARGAR</span>
  <div class="e205_227"></div>
  <div class="e205_479"></div><span  class="e205_480">MALAJUNTA

ROQUE SAENZ PEÑA 1810

L - V HORARIO 8 a 20</span>
  <div class="e205_481"></div><span  class="e205_482">BUENA VIDA TATTOO

ROQUE SAENZ PEÑA 1810

L - V HORARIO 8 a 20</span>
  <div class="e205_483"></div><span  class="e205_484">PIPO TATTOO STUDIO

ROQUE SAENZ PEÑA 1810

L - V HORARIO 8 a 20</span>
  <div class="e205_485"></div><span  class="e205_486">MALDITO TATTOO

ROQUE SAENZ PEÑA 1810

L - V HORARIO 8 a 20</span>
  <div class="e205_487"></div><span  class="e205_488">MORRISON TATTOO STUDIO

ROQUE SAENZ PEÑA 1810

L - V HORARIO 8 a 20</span>
  <div class="e205_489"></div><span  class="e205_490">BIOMA TATTOO STUDIO

ROQUE SAENZ PEÑA 1810

L - V HORARIO 8 a 20</span><span  class="e205_517">ESTUDIOS</span><span  class="e206_124">BUSCAR ESTUDIO</span>
  <div class="e206_125"></div><span  class="e206_188">PERFIL</span><span  class="e206_189">MENU PRINCIPAL</span>
  <div class="e206_190"></div>
</div>