@page "/"

<PageTitle>TINTA ESPACIAL</PageTitle>

 <div class="login">
        <div>
            <img class="logo" src="/images/tintalogo.png" />
        </div>
        <div class="form">
            <h2>Bienvenido</h2>

            <input type="text" placeholder="Usuario">
            <input type="password" placeholder="Password">
            <input type="submit" value="Ingresar" class="submit">
        </div>
    </div>
    @*<div class="nav-item px-3">
        <NavLink class="nav-link" href="todo">
            <span class="oi oi-list-rich" aria-hidden="true"></span> ingresar menu
        </NavLink>
    </div>*@
