@page "/Primera"

<div class=e104_2>
  <div class="e97_17"></div>
  <div class="e97_18"></div>
  <span  class="e97_19">INICIAR SESION</span><span  class="e97_20">REGISTRAR</span>
  <div class="e129_314"></div>
  <div class="e129_315"></div>
</div>
@*<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>*@
@*<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>*@
@*<div class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Todo
            </NavLink>
        </div>  *@
@*using Syncfusion.EJ2.Blazor.Buttons 
@inject NavigationManager NavigationManager 
 
<EjsButton CssClass="e-link" @onclick="onClick">Go to Google</EjsButton> 
 
@code{ 
 
    public void onClick() 
    { 
        NavigationManager.NavigateTo("/counter"); 
    } 
}*@
@code {

}
