@page "/RegExitoso"

<div class=e120_302>
  <div class=e127_103>
    <div class="e71_892"></div><span  class="e71_893">BIENVENIDO!</span><span  class="e71_894">SU CUENTA
 HA SIDO CREADA 
CON EXITO</span><span  class="e71_897">CONTINUAR</span><span  class="e71_898">INGRESE CON SUS DATOS</span>
  </div>
  <div class="e205_109"></div>
</div>

@code {

}
