@page "/registrobasico"

<PageTitle>registro basico</PageTitle>
@*
<h1>registro basico</h1>
*@
<div class=e120_301>
  <div class="e71_881"></div><span  class="e71_882">REGISTRESE!</span><span  class="e71_883">USUARIO</span><span  class="e205_522">FOTO PERFIL</span><span  class="e71_884">CONTRASEÑA</span><span  class="e71_888">REPITA  PASSWORD</span><span  class="e71_885">REGISTRAR DATOS</span><span  class="e71_889">EMAIL</span><span  class="e205_320">LOCALIDAD</span><span  class="e205_321">FECHA NACIMIENTO</span><span  class="e205_322">TELEFONO</span><span  class="e205_373">ERES ARTISTA/TATUADOR/ ESTUDIO?</span>
  <div class="e89_66"></div>
  <div class="e89_67"></div>
  <div class="e89_68"></div>
  <div class="e89_69"></div>
  <div class="e205_370"></div>
  <div class="e205_371"></div>
  <div class="e205_372"></div>
  <div class=e205_376><span  class="e205_375">SI</span>
    <div class="e205_374"></div>
  </div>
  <div class="e205_107"></div>
  <div class="e205_521"></div>
  <div class=e205_594>
    <div class="e205_595"></div>
  </div>
</div>

