@page "/Std1"

<PageTitle>Estudio 1</PageTitle>
@*
<h1>Estudio de tatuajes numero 1</h1>*@

<div class=e205_228><span  class="e205_229">TINTA  ESPACIAL</span><span  class="e205_230">NFT</span>
  <div class="e205_231"></div>
  <div class="e205_232"></div><span  class="e205_233">AUTOR: </span><span  class="e205_234">NOMBRE: </span><span  class="e205_235">DISEÑO NFT   SI                NO</span><span  class="e205_236">PRECIO : </span><span  class="e205_237">MEDIOS DE PAGO</span><span  class="e205_238">TOKEN ID:       </span><span  class="e205_239">DETALLE: </span>
  <div class="e205_240"></div><span  class="e205_241">CARGAR</span>
  <div class="e205_242"></div><span  class="e205_492">
HORARIO 

LUNES A VIERNES

8 a 20 HS

SABADO 

8 A 16 HS</span><span  class="e205_519">DISEÑOS
</span><span  class="e205_520">ARTISTAS</span>
  <div class="e205_493"></div>
  <div class="e205_491"></div><span  class="e205_494">MALAJUNTA STUDIO TATTOO & PIERCING</span><span  class="e205_495">LOCACION :

ROQUE SAENZ PEÑA 1810

BARRIO COFICO

CORDOBA CAPITAL - PROVINCIA DE CBA
</span><span  class="e205_503">INFORMACION :

RESEÑA:

MALAJUNTA ES UN GRUPO DE ARTISTAS EMPRENDEDORES QUE PLASMAN A TRAVES DE SU ESTILO LAS HISTORIAS DE VIDA DE LAS PERONAS EN  LA PIEL. eSTE ESPACIO SE CREO  EN 2001 Y A LO LARGO DEL TIEMPOSE LOGRO EXPANDIR DE TRES SUCURSALES EN LA CAPITAL DE CCORDOBA, OFRECIENDO SERVICIOS DE TATUAJE, PIERCIENG Y CLASES DE DIBUJO, TALLERES Y CURSOS</span><span  class="e205_504">TELEFONO     3515151515151


REDES SOCIALES</span>
  <div class="e205_506"></div>
  <div class="e205_507"></div>
  <div class="e205_508"></div>
  <div class="e205_509"></div>
  <div class="e205_512"></div>
  <div class="e205_511"></div>
  <div class="e205_513"></div>
  <div class="e205_514"></div>
  <div class="e205_515"></div>
  <div class="e205_516"></div>
  <div class=e205_525>
    <div class="e205_526"></div>
  </div>
  <div class=e205_527>
    <div class="e205_528"></div>
    <div class="e205_529"></div>
  </div>
  <div class=e205_530>
    <div class="e205_531"></div>
  </div>
  <div class=e205_532>
    <div class="e205_533"></div>
  </div><span  class="e206_172">PERFIL</span><span  class="e206_173">MENU PRINCIPAL</span>
  <div class="e206_174"></div>
</div>