@page "/Tatuadores"

<PageTitle>Tatuadores</PageTitle>

@*<h1>Lista de Tatuadores</h1>*@
<div class=e206_128><span  class="e206_129">TINTA  ESPACIAL</span><span  class="e206_130">NFT</span>
  <div class="e206_131"></div>
  <div class="e206_132"></div><span  class="e206_133">AUTOR: </span><span  class="e206_134">NOMBRE: </span><span  class="e206_135">DISEÑO NFT   SI                NO</span><span  class="e206_136">PRECIO : </span><span  class="e206_137">MEDIOS DE PAGO</span><span  class="e206_138">TOKEN ID:       </span><span  class="e206_139">DETALLE: </span>
  <div class="e206_140"></div><span  class="e206_141">CARGAR</span>
  <div class="e206_142"></div>
  <div class="e206_143"></div><span  class="e206_144">JUAN PERON

ESTILO: REALISMO , LETTERING</span><span  class="e206_185">JUAN PERON

ESTILO: REALISMO , LETTERING</span>
  <div class="e206_145"></div><span  class="e206_146">ALBERTO FERNANDEZ

ESTILO: REALISMO , LETTERING</span>
  <div class="e206_147"></div><span  class="e206_148">MAURICIO MACRI

ESTILO:EALISMO,LETTERING</span><span  class="e206_186">ALBERTO FERNANDEZ

ESTILO: REALISMO , LETTERING</span><span  class="e206_187">MAURICIO MACRI

ESTILO:EALISMO,LETTERING</span>
  <div class="e206_149"></div>
  <div class="e206_151"></div>
  <div class="e206_153"></div><span  class="e206_155">ARTISTA</span><span  class="e206_159">BUSCAR  ARTISTA / ESTILO</span><span  class="e206_161">PERFIL</span><span  class="e206_158">MENU PRINCIPAL</span>
  <div class="e206_157"></div>
  <div class="e206_160"></div>
  <div class="e206_203"></div>
  <div class="e206_204"></div>
  <div class="e206_205"></div>
  <div class="e206_210"></div>
  <div class="e206_209"></div>
  <div class="e206_215"></div>
</div>