@page "/Ttt1"

<PageTitle>Tatuador 1a</PageTitle>
@*
<h1>TAtuador 1a fulanito</h1>*@

<div class=e120_326>
  <div class="e64_217"></div><span  class="e64_219">Nacido en Vigo, España se situa entre los grandes tatuadores  a nivel nacional y mundial
Su estilo  se ha ganado un lugar en el mundo del tatuaje por crear un nuevo lenguaje sobre la piel que desafia todos los conceptos antes conocidos en este gremio</span>
  <div class="e64_220"></div>
  <div class="e64_221"></div>
  <div class="e205_597"></div>
  <div class="e205_600"></div>
  <div class="e205_601"></div>
  <div class="e205_603"></div>
  <div class="e205_604"></div>
  <div class="e205_602"></div>
  <div class="e205_605"></div>
  <div class="e205_606"></div>
  <div class="e205_607"></div>
  <div class="e205_608"></div>
  <div class="e205_609"></div>
  <div class="e205_610"></div>
  <div class="e205_611"></div>
  <div class="e205_612"></div>
  <div class="e65_715"></div>
  <div class=e71_1625>
    <div class="e71_1626"></div>
  </div>
  <div class=e71_1627>
    <div class="e71_1628"></div>
    <div class="e71_1629"></div>
  </div>
  <div class=e71_1630>
    <div class="e71_1631"></div>
  </div>
  <div class=e71_1632>
    <div class="e71_1633"></div>
  </div><span  class="e205_613">LUISA CANAPINO</span><span  class="e205_615">ARTISTA/TATUADOR</span><span  class="e205_616">DISEÑOS</span><span  class="e206_168">PERFIL</span><span  class="e206_169">MENU PRINCIPAL</span>
  <div class="e206_171"></div>
  <div class="e205_596"></div>
</div>